// Size
$main-size : 10px;

$content-width: 1100px;
$tablet-width: 768px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;

// Main color
$color-light: #ffffff;
$color-font-main: #4A4A4A;
$color-add-main: #333333;
$color-add: #72808E;
$color-backgroundfirst: #3E3E58;
$color-backgroundlogos: #F9FAFA;
$color-backgroundsecond: linear-gradient(147.56deg, #3DBDB6 5.64%, #0089CE 100%);
$color-backgroundthird: linear-gradient(173.7deg, #1172D0 6.2%, #1D98D6 99.82%);
$color-backgroundfooter: #1F2532;
$color-bgadd:  #535173;
$color-primary: #3DBDB6;
$color-additional: rgba(24, 144, 164, 0.5);
$color-todo-footer: #F5F9FC;
$color-todo: #20BBEF;
$color-text:  #3D4D65;
$color-support: linear-gradient(131.99deg, #3DBDB6 5.64%, #0089CE 100%);
$color-desk: linear-gradient(308.7deg, #7A86CC 8.85%, #9FACF8 100%);
$color-chat: linear-gradient(180deg, #F3778F 0%, #F26A95 44.25%, #F15A9D 100%);
$color-link: #2D8CFF;
$color-play: linear-gradient(131.99deg, #3DBDB6 5.64%, #0089CE 100%);
$color-border: #979797;
$color-border-new: #DADFE5;
$color-task: #606D78;