html {
    font-size: $main-size;
    color: $color-font-main;
}

body {
    @extend %font-prim-regular;
    @include font (1.6rem, 2.6rem, normal);
}

h1 {
    @extend %font-prim-regular;
    @include font (4.8rem, 5.4rem, normal);

}

h2 {
    @extend %font-prim-regular;
    @include font (4.0rem, 4.9rem, normal);
}

h3 {
    @extend %font-prim-regular;
    @include font (3.2rem, 4.4rem, normal);
}

h4 {
    @extend %font-prim-regular;
    @include font (2.0rem, 3.0rem, normal);
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}