.logo {
    padding: 0 10px 0 0;
    @include font(1.6rem, 1.4rem, normal);    
}

.logo-path {
    @extend %transition;
}

.logo-svg {    
    cursor: pointer;

    &:hover {
        .logo-path {
            fill: $color-backgroundfirst;
        }       
    }

    &:hover {
        .logo-rect {
            fill: #6a708d;
        }       
    }
}

.text-logo {
    @include font(1.6rem, 1.6rem, normal);
    @extend %font-add-regular;
    color: $color-light;
    margin: 0;
    cursor: pointer;
}