.todo {
  display: flex;
  flex-direction: column;   
}

.todo__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  background: $color-todo-footer;
  padding: 20px 35px;
  border-radius: 8px 8px 0 0;

  @include media-mobile {
    padding: 15px;
  }
}

.todo__line {
  display: flex;
  flex-direction: column;
}

.todo__title {
  @extend %font-add-regular;
  @include font(2.8rem, 3.5rem, normal);
  color: $color-text;
}

.todo__date {
  color: $color-date;
}

.todo__clear {
  .refresh {
    width: 40px;
    height: 40px;
    cursor: pointer;
    @extend %transition;
  }
}

.refresh-transform {
  transform: rotate(360deg);
}

.todo__content {
  max-height: 300px;
  min-height: 200px;
  background: $color-light;
  padding: 20px 15px 15px 20px;
  overflow-y: scroll;
  @extend %custom-scroll;
}

.list__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  &:last-child {
    border-bottom: none;
  }
  
  .text-block {
    width: 100%;
  }
}

.circle__circle-thin {
  width: 24px;
  height: 24px;
  border: 2px solid $color-text;
  border-radius: 50%;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
}

.circle-change {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid #6EB200;
  background-color: #6EB200;
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  @extend %transition;
}

.line-through {
  text-decoration: line-through;
  color: #ccc;
}

.list__text {
  padding: 10px 20px 10px 15px;
}

.trash {
  cursor: pointer;
  border-radius: 50%;
  @extend %transition;

  &:hover {
    transform: scale(1.15);
  }
}

.todo__add {
  display: flex;
  align-items: center;
  height: 70px;
  background: $color-todo-footer;
  padding: 0 35px;
  border-radius: 0 0 8px 8px;

  @include media-mobile {
    padding: 0 15px;
  }

  .plus-circle {
    width: 45px;
    height: 45px;
    cursor: pointer;
    vertical-align: middle;
  }
}

#input-todo {
  height: 45px;
  width: 70%;
  border: none;
  background-color: transparent;
  @extend %font-prim-regular;
  @include font(2rem, 2rem, normal);
  margin: 0 0 0 15px;
  padding: 0 0 0 15px;
}