.about-us__title {
    text-align: center;
    padding: 51px 0 69px;
    margin: 0;

    @include media-tablet {
        padding: 51px 0 39px;
    }
}

.work-container {
    padding: 0 0 81px;

    @include media-tablet {
        flex-direction: column;
        padding: 0 0 41px;
    }
}

.work {
    text-align: center;

    @include media-tablet {
        margin: 0 0 25px;

        &:last-child {
            margin: 0;
        }
    }
}

.work__image {
    margin: 0 0 31px;

    @include media-tablet {
        margin: 0 0 20px;
    }
}

.work__content {
    @include font(1.8rem, 2.2rem, normal);
    padding: 0 40px;
    margin: 0 0 25px;

    @include media-tablet {
        margin: 0 0 5px;
        padding: 0;
    }
}