.promo__content {
    max-width: 422px;
    padding: 110px 50px 15px 0;
}

.promo__title {
    margin: 0;
    color: $color-light;
    padding: 0 0 20px;
}

.promo__form {
    padding: 0 0 150px;
}

.email__promo {

    input {
        background: $color-bgadd;
        opacity: 0.7;
        border: none;

        &:hover {
            box-shadow: 0px 1px 6px rgba(177, 177, 177, 0.6);
        }

        &:focus {
            outline: none;
            box-shadow: 0px 1px 6px rgba(177, 177, 177, 0.6);
            background: $color-bgadd;
            color: $color-light;
            opacity: 1;
        }

        &::placeholder {
            color: $color-light;
        }
    }
}

.email__button {

    .button-promo {
        background: $color-primary;
        border: none;
        color: $color-light;

        &:hover {
            box-shadow: 0px 1px 6px rgba(255, 255, 255, 0.6);
        }
    }

   
}