.promo-svg {
    position: absolute;
    z-index: 0;      
    right: -39px;
    bottom: -76px;

    @include media-tablet {        
        width: 70%;
        top: 44px;        
        right: -66px;
    }

    @include media-mobile {
        width: 100%;
        top: 182px;
        right: 0;
    }

    @include media-mobilesmall {
        width: 100%;
        top: 240px;
        right: 0;
    }

    
    #right-wheel, 
    #left-wheel {
    animation: wheel 2s infinite linear;
     transform-origin: center;
    transform-box: fill-box;
    }

    #family {
     animation: family 1s ease-in-out infinite alternate;
    transform-origin: center;
    }

    #father-face,
    #mother-face {
    animation: face 1s ease-in-out infinite alternate;
    transform-origin: center;
    transform-box: fill-box;
    }

    #son-face {
    animation: son 1s ease-in-out infinite alternate;
    transform-origin: top;
    transform-box: fill-box;
    }

    #tail {
    animation: tail 1s ease-in-out infinite alternate;
    transform-origin: center;    
    }

    #clouds {
    animation: clouds 10s ease-in-out infinite alternate;
    transform-origin: center;    
    }

    #cloud-white {
    animation: cloud-white 12s ease-in-out infinite alternate;
    transform-origin: center;    
    }

    #cloud-first {
    animation: cloud-first 14s ease-in-out infinite alternate;
    transform-origin: center;    
    }


    @keyframes wheel {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(-360deg);
    }
    }

    @keyframes family {
    from {
        transform: rotateX(0deg);
    }
    to {
        transform: rotateX(20deg);    
    }
    }

    @keyframes face {
    from {
        transform: translateY(0%) rotateZ(0deg);
    }
    to {
        transform: translateY(7%) rotateZ(5deg);
    }
    }

    @keyframes son {
    from {
        transform: translateY(0%) translateX(0%) rotateZ(0deg);
    }
    to {
        transform: translateY(7%) translateX(10%) rotateZ(7deg);
    }
    }

    @keyframes tail {
    from {
        transform: rotateX(0deg) rotateY(0deg);
    }
    to {
        transform: rotateX(15deg) rotateY(5deg);
    }
    }


    @keyframes clouds {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(10%);
    }
    }


    @keyframes cloud-white {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(15%);
    }
    }

    @keyframes cloud-first {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(20%);
    }
    }
    
}

.promo__wrapper {
    position: relative;
    overflow: hidden;
}

.promo__content {
    max-width: 422px;
    padding: 110px 50px 15px 0;

    @include media-tablet {
        padding: 70px 50px 15px 0;
        max-width: 350px;
    }

    @include media-mobile {
        padding: 30px 0 0 0;
        width: 100%;
        margin: auto;
        text-align: center;
    }
}

.promo__title {
    margin: 0;
    color: $color-light;
    padding: 0 0 20px;   
}

.promo__form {
    padding: 0 0 150px;

    @include media-tablet {
        padding: 0 0 100px;
    }

    @include media-mobile {
        padding: 0 0 300px;
    }
}

.email__promo {

    input {
        background: $color-bgadd;
        opacity: 0.7;
        border: none;       

        &:hover {
            box-shadow: 0px 1px 6px $color-shadow;
        }

        &:focus {
            outline: none;
            box-shadow: 0px 1px 6px $color-shadow;
            background: $color-bgadd;
            color: $color-light;
            opacity: 1;
        }

        &::placeholder {
            color: $color-light;
        }
    }
}

.email__button {

    .button-promo {
        background: $color-primary;
        border: none;
        color: $color-light;

        @include media-laptop {        
            position: relative;
            z-index: 2;
        }

        &:hover {
            box-shadow: 0px 1px 6px rgba(255, 255, 255, 0.6);
        }
    }


}