.footer {
    background: $color-backgroundfooter;
}

.footer__wrapper {
    max-width: 1000px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    padding: 72px 0 52px;

    @include media-tablet {
        padding: 52px 0 42px;
    }

    @include media-mobile {
        flex-direction: column;
    }
}

.footer__logo {
    min-width: 196px;
    margin: 0 108px 0 0;

    @include media-tablet {
        margin: 0 50px 0 0;
    }

    @include media-mobile {
        margin: 0;
        padding: 0 50px 30px 0;
    }
}

.footer__logo-line {
    display: flex;
    align-items: center;
    margin: 0 0 15px;
}

.logo-content {
    @include font(1.2rem, 1.9rem);
    opacity: 0.6;
    color: $color-light;
    font-weight: 300;
}

.logo-link {
    @include font(1.2rem, 1.9rem);
    opacity: 0.6;
    color: $color-light;
    text-decoration: underline;
    font-weight: 300;
}

.footer-navigation {
    width: 100%;

    @include media-mobile {
        display: flex;
        flex-direction: column;
    }

    >* {
        margin: 0 0 30px;
    }
}

.footer-navigation__title {
    margin: 0 0 18px;
    @include font(1.3rem, 1.4rem, normal);
    color: $color-light;
}

.footer-navigation__links {

    a {
        @include font(1.2rem, 2.8rem, normal);
        color: $color-light;
        opacity: 0.6;
    }
}

.foter__social {
    padding: 72px 0 52px;

    @include media-tablet {
        padding: 52px 0 42px;
    }
}