.header {
    background: $color-backgroundfirst;
}

.header__fixed {
    background: $color-backgroundfirst;
    height: 72px;
}

.header__fixed-active {
    position: fixed;
    z-index: 2;    
    background-color: $color-bgadd;
    box-shadow: 0px 2px 6px $color-shadow;
    width: 100%;
    transition: top 5s cubic-bezier(1, 0, 0, 1);
}

.header__wrapper {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo-line {
    display: flex;
    align-items: center;    
}

.header__navigation {
    display: flex;
    align-items: center;
}

.header__buttons {
    .button {
        &:first-child {
            border: none;
            margin-left: 50px;
        }

        &:last-child {
            margin-left: 16px;
        }
    }

    .sign-up {
        &:hover {
            box-shadow: 0px 2px 6px $color-shadow;
        }
    }

    .sign-in {
        &:hover {
            border: 1px solid $color-border;
            box-shadow: 0px 2px 6px $color-shadow;
        }
    }

    .sign-change {
        background-color: $color-bgadd;
    }

    @include media-mobile {
        display: none;
    }
}

.header__logos {
    background: $color-backgroundlogos;
    border: 1px solid $color-borderlog;
}

.logos__wrapper {
    max-width: 703px;
    margin: auto;

    @include media-tablet {
        max-width: 450px;
    }
}

.logos__images {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 39px 0 41px;

    @include media-tablet {
        justify-content: space-around;
        padding: 39px 0 26px;
    }
}

.logos__image {
    @include media-tablet {
        margin: 0 0 15px;
    }
}